body {
    background-color: black;
    color: white;
}

.oturum {
    color: white;
    text-decoration: none;
    text-decoration: dashed;
}

.oturum-boyut {
    width: 15vh;
    height: 5vh;
}

.select-boyut {
    width: 15vh;
    height: 5vh;
}

section {
    border-style: solid;
    border-color: rgb(43, 40, 40);
    border-width: 6px;
}

h1,
h3,
h4,
h6 {
    text-align: center;
}

h3 {
    margin: 2rem;
}

img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/arkaplan.jpg");
    background-position: center;
    background-size: cover;
}

.header-height {
    height: 85vh;
}

.select-btn {
    background-color: transparent;
    color: grey
}

.boyut {
    width: 150px;
    height: 6vh;
}

.input-group {
    width: 90%;
    height: 7vh;
}

.form-controll {
    width: 70%;
    padding: 26px;

}

.accordion-button {
    background-color: rgb(47, 46, 46);
    margin-top: 1rem;
    color: white;
}

.accordion-item {
    border: none;
    background-color: rgb(47, 46, 46);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: rgb(47, 46, 46);
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button::after {
    background-image: url("../images/artı.svg");
    filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/çarpı.svg");
    filter: invert(100%) sepia(100%) saturate(13%)
}

h5 {
    color: rgb(132, 132, 132);
}

footer ul li a {
    color: rgb(132, 132, 132);
    text-decoration: none;
    text-decoration: dashed;
}

footer ul li {
    margin-top: 1rem;
}

footer {
    border-style: solid;
    border-color: rgb(43, 40, 40);
    border-width: 6px;
}

a:hover {
    text-decoration: underline;
}
